h1,
a {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    
    color: #2B2D42;
    background-color: #8D99AE;
    text-align: center;
    font-weight: bold;
}

a {
    
    color: #D90429;
    text-align: center;
}

ul {
    color: #EF233C;
    text-align: center;
}


body {
    background-color: #EDF2F4;
}

.garlic {
    height: 25%;
    width: 25%;
    position: relative;
    left: 40%;
}

.glazed {
    height: 25%;
    width: 25%;
    position: relative;
    left: 40%;
}

.green {
    height: 25%;
    width: 25%;
    position: relative;
    left: 40%;
}