h1,
a {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    
    color: #c1121f;
    background-color: white;
    text-align: center;
    font-weight: bold;
}

a {
    
    color: #D90429;
    text-align: center;
}

ul {
    color: #EF233C;
    text-align: center;
}


body {
    background-color: #fdf0d5;
}

.garlic {
    height: 25%;
    width: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.glazed {
    height: 25%;
    width: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.green {
    height: 25%;
    width: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h3,
h4 {
    color: #D90429;
}

.card {
    width: 400px;
    background: white;
    margin: 16px auto;
    padding: 8px;
    border: #c1121f solid;
    border-width: 5px;
    border-radius: 25px;
}

.tarjeta {
    padding: 8px;
    margin: 16px auto;
    border: #780000 solid;
    border-radius: 25px;
    width: 80%;
    background-color: white;
}

.Description{
    padding: 8px;
    width: 500px;
    margin: 16px auto;
    border: #003049 solid ;
    border-radius: 25px;
    
}

.Ingredients{
    padding: 8px;
    margin: 16px auto 16px 5%;
    border: #669bbc solid;
    border-radius: 25px;
    display: inline-block;
    width: 400px;
}

.Steps {
    padding: 8px;
    margin: 16px auto 16px 5%;
    border: #669bbc solid;
    border-radius: 25px;
    display: inline-block;
    width: 500px;
}

img{
    border: #c1121f solid;
    border-width: 5px;
    border-radius: 25px;
}