h1,
a {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    
    color: #2B2D42;
    background-color: #8D99AE;
    text-align: center;
    font-weight: bold;
}

a {
    
    color: #D90429;
    text-align: center;
}

ul {
    color: #EF233C;
    text-align: center;
}


body {
    background-color: #fdf0d5;
}

.garlic {
    height: 25%;
    width: 25%;
    position: relative;
    left: 40%;
}

.glazed {
    height: 25%;
    width: 25%;
    position: relative;
    left: 40%;
}

.green {
    height: 25%;
    width: 25%;
    position: relative;
    left: 40%;
}

h3,
h4 {
    color: #D90429;
}

.card {
    width: 400px;
    background: #EDF2F4;
    margin: 16px auto;
    padding: 8px;
}

.tarjeta {
    padding: 8px;
    margin: 16px auto;
    border: #EF233C solid;
}

.Description{
    padding: 8px;
    width: 500px;
    margin: 16px auto;
    border: #EF233C solid ;
    
}

.Ingredients{
    padding: 8px;
    margin: 16px auto 16px 10%;
    border: #EF233C solid;
    border-radius: 25px;
    display: inline-block;
    width: 500px;
}

.Steps {
    padding: 8px;
    margin: 16px auto 16px 5%;
    border: #EF233C solid;
    border-radius: 25px;
    display: inline-block;
    width: 500px;
}

img{
    border: #669bbc solid;
    border-width: 10px;
    border-radius: 25px;
}